<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="controller-bean.xml"/>
    <import resource="entity-bean.xml"/>
    <import resource="mapper-bean.xml"/>
    <import resource="service-bean.xml"/>
    <import resource="aop-config.xml"/>
    <import resource="mybatis-config.xml"/>

    <!-- 加载配置文件 -->
    <context:property-placeholder location=""classpath:db.properties"/>


<!-- 配置dbcp -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="10"/>
        <property name="maxIdle" value="5"/>
    </bean>

</beans>